---
import { CrearEmpresa } from "../../../components/Formularios/CrearEmpresa";
import GlobalLayout from "../../../layout/GlobalLayout.astro";
import axiosInstance from "../../../utils/axiosInstance";

const rol = (Astro.cookies.get("rol") || {})?.value;
const id = Astro.url.searchParams.get("id") || "";

if (!rol || rol !== "admin") {
  return Astro.redirect("/");
}

const { data: dataMunicipio } = await axiosInstance("/municipios", {
  method: "GET",
  params: { skip: 0, limit: 10 },
});

const { data: dataCategoria } = await axiosInstance("/categorias", {
  method: "GET",
  params: { skip: 0, limit: 10 },
});

let initialValue = undefined;
if (id) {
  const { data } = await axiosInstance(`/empresas/${id}`, {
    method: "GET",
  });
  initialValue = data;
}
---

<GlobalLayout title="Registrar empresa">
  <style>
    .content-form-crear-empresa {
      min-height: calc(100vh - 120px);
      display: flex;
      justify-content: center;
    }

    .content-form-crear-empresa h2 {
      text-align: center;
      margin-block: 60px;
    }

    .content-menu-list {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      margin-bottom: 30px;
    }

    .content-menu-list li a {
      display: block;
      padding: 12px 16px;
      background-color: #ffcc00;
      border-radius: 8px;
    }
  </style>

  <div class="content-form-crear-empresa">
    <section>
      <h2>{id ? "Editar empresa" : "Registrar empresa"}</h2>
      <ul class="content-menu-list">
        <li>
          <a href="/empresas/categorias">Categorías</a>
        </li>
        <li>
          <a href="/empresas/municipios">Municipios</a>
        </li>
      </ul>

      <CrearEmpresa
        listaMunicipios={dataMunicipio}
        listaCategoria={dataCategoria}
        initialValue={initialValue}
        id={id}
        client:load
      />
    </section>
  </div>
</GlobalLayout>
